body{
font-family: Arial;
margin:0;
background:white;
color:#333;
}

header{
background:#0d6efd;
color:white;
padding:15px;
text-align:center;
}

section{
display:none;
padding:30px;
text-align:center;
}

.active{
display:block;
}

.hidden{
display:none;
}

.hero-img{
width:250px;
margin:30px;
}

button{
background:#198754;
color:white;
border:none;
padding:12px 20px;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#157347;
}

#map{
width:100%;
height:350px;
background:#eaeaea;
border-radius:10px;
}

.top{
display:flex;
gap:20px;
}

.image-preview img{
width:300px;
border-radius:10px;
}

.controls{
margin:20px;
}

#companyList{
max-height:250px;
overflow-y:scroll;
border-top:1px solid #ccc;
}

.company{
padding:10px;
border-bottom:1px solid #eee;
}

/* loading animation */

.loader{
border:8px solid #f3f3f3;
border-top:8px solid #198754;
border-radius:50%;
width:60px;
height:60px;
animation:spin 1s linear infinite;
margin:auto;
}

@keyframes spin{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}

nav{
margin-top:10px;
}

nav button{

background:white;
color:#0d6efd;
border:2px solid #0d6efd;
padding:8px 15px;
margin:5px;
cursor:pointer;
border-radius:5px;

}

nav button:hover{

background:#0d6efd;
color:white;

}
